

/*Contacto*/

section.formcontato {
    background: var(--color-seccion);
    padding: 3rem 5rem;
}

.formcontato__contacto {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.formcontato--izquierda {
    padding-right: 2rem;
}

.formcontato__text {
    padding-bottom: 1.5rem;
    width: 100%;
}

.formcontato__title {
    font-size: 2rem;
    padding-bottom: 1rem;

}

.formcontato__subtext {
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: .5rem;

}

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 25px;
    width: 100%;
    background: var(--color-blanco);
    border-radius: 5px;
}

.formcontato__input,
.formcontato__textarea {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(180, 178, 178);
    outline: 0;
    font-size: 1.3rem;
    color: var(--color-font);
    padding: 7px 0;
    transition: border-color 0.2s;
    background: transparent;


}

.formcontato__input::placeholder,
.formcontato__textarea::placeholder {
    color: transparent;
}

.formcontato__input:placeholder-shown~.form__label,
.formcontato__textarea:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-font);
    
}

.formcontato__input:focus,
.formcontato__textarea:focus {
    ~.form__label {
        position: absolute;
        top: 5px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--color-boton-demo);
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--color-boton-demo), var(--color-de-fondo));
    border-image-slice: 1;
}

/* reset input */
/* .formcontato__input {
    &:required,
    &:invalid {
        box-shadow: none;
    }
} */

.formcontato__boton {
    background: var(--color-boton-demo);
    border-color: var(--color-de-fondo);
    border-width: 1px;
    color: var(--color-de-fondo);
    padding: 1rem;
    width: fit-content;
    margin-top: 25px;

}


/*Tablet*/
@media (min-width: 768px) {



}

/*Mobile*/
@media (min-width: 425px) {



}