

/*Contacto*/

section.formcontato {
    background: var(--color-seccion);
    padding: 3rem 5rem;
}

.formcontato__contacto {
    display: flex;
    align-items: center;

}

.formcontato--izquierda {
    padding-right: 2rem;
}

.formcontato__text {
    padding-bottom: 1.5rem;
    width: 100%;
}

.formcontato__title {
    font-size: 2rem;
    padding-bottom: 1rem;

}

.formcontato__subtext {
    font-size: 1rem;
    font-weight: lighter;
    padding-bottom: .5rem;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 25px;
    width: 100%;
    background: var(--color-blanco);
    border-radius: 5px;
}

.formcontato__input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgb(180, 178, 178);
    outline: 0;
    font-size: 1.3rem;
    color: var(--color-font);
    padding: 7px 0;
    transition: border-color 0.2s;
    background: transparent;


}

.formcontato__input::placeholder{
    color: transparent;
}

.formcontato__input:placeholder-shown~.form__label
 {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}


.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-font);
  
    
}

.formcontato__input:focus{
    ~.form__label {
        position: absolute;
        top: 5px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: var(--color-boton-demo);
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--color-boton-demo), var(--color-de-fondo));
    border-image-slice: 1;
}


/* Invalid */
.form__group--invalid {
    margin-bottom: 0.5rem;
  }
  
  .form__group--invalid .formcontato__input {
    ~.form__label {   
        color: var(--warning-color);       
    }
    border: 0;
    border-bottom: 2px solid var(--warning-color);
  }
  
  .form__group--invalid .form-label {
    color: var(--warning-color);
  }
  
  .input-message-error {
    display: none;
  }
  
  .form__group--invalid .input-message-error {
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
  }
  /* ----------------- */

.formcontato__boton {
    background: var(--color-boton-demo);
    border-color: var(--color-de-fondo);
    border-width: 1px;
    color: var(--color-de-fondo);
    padding: 1rem;
    width: fit-content;
    margin-top: 25px;

}
.formcontato__boton:hover{
    animation: shake 0.25s;
    cursor: pointer;
    background: var(--color-de-fondo);
    border-color: var(--color-boton-demo);
    color: var(--color-boton-demo);
}


/*Tablet*/
@media (max-width: 768px) {
    section.formcontato {
       
        padding: 2rem;
    }
    .formcontato--izquierda {
        padding-right: 0rem;
    }

    .formcontato__img {
        display: none;
      }
      
      .formcontato__text {
        width: 100%;
      }

}

/*Mobile*/
@media (max-width: 425px) {

    section.formcontato {
        background: var(--color-seccion);
        padding: .75rem;
    }

}