

/*Sección Hobbies*/

section.hobbies {
    padding: 2rem 5rem 2rem 5rem;
}

.hobbies__title {
    text-align: center;
    font-size: 1.5rem;
}

.hobbies__line {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    padding-top: 2rem;
}

.hobbies__box {
    background: var(--color-blanco);
    text-align: center;
    padding: 30px 20px;
    border-radius: 2rem;
}

.hobbies__imagen {
    height: 80px;
}

.hobbies__name {
    font-weight: bold;
}


/*Tablet*/
@media (max-width: 768px) {
    section.hobbies {
        padding: 2rem;
    }

    .hobbies__line {
    
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    }

}

/*Mobile*/
@media (max-width: 425px) {
    section.hobbies {
        padding: .75rem;
    }



}