/*Sección Title*/

section.title {

    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.title__div {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.title__profile {
    width: 20rem;
    border-radius: 100%;
}

.title__bio {
    font-size: 2rem;
}

.title__subsection {
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 100;
}

.title__network {
    display: flex;
}

.title__network__item {
    padding-right: 1rem;
 
}
/* animacion */
.redes {
    display: inline-flex;
    flex-direction: row;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: 2px solid var(--color-font);
    margin: 5px;
    padding: 2px;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.30s;
    cursor: pointer;
}

.icons {
    margin: auto;
    display: block;
    height: 2rem;
}

.icons:hover {
    animation: shake 0.25s;

}

#github:hover, #linkedin:hover, #twitter:hover, #instagram:hover, #curriculum:hover {
    outline-offset: 4px;
    outline-color: var(--color-font);
}

/* ---------- */

/*Tablet*/
@media screen and (max-width: 768px) {
    section.title {     
        padding: 2rem;
    }
 
    .title__profile {
        width: 10rem;
    }

    .title__bio {
        font-size: .85rem;
    }

    .title__subsection {
        padding-top: 1rem;
        font-size: .6rem;
       
    }
    .title__network__item {
        padding-right: .5rem;
       
    }
    .img__arrow{
        width: .5rem;
    }

    .redes{
        width:20px;
    height: 20px;
    }
    .icons{
        height: 15px;
    }

}

/*Mobile*/
/* 0 */
@media screen and (max-width: 425px) {
    section.title {     
        padding: .75rem;
    }
    .title__container{
        padding-top: 1rem;  
    }
    .title__profile {
        width: 6rem;
    }
  
    .title__div {
        padding-top: .5rem;
        align-items: start;
        flex-direction: column;
    }
}